:root{
    --main-color:#DFFDFF;
    --secondary-color:#E5E1EE;
    --main-bg-color:#335C67;
    --ui-main-color:#68EDC6;
    --ui-secondary-color:#90F3FF;

}
*{
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
    width: 100%;
    overflow:scroll;
    scrollbar-width: none;
}
#root{
    width: 100%;
    height: 100%;
}
.App{
    width: 100%;
    height: 100%;
}
/*hiding scroll bars*/
body::-webkit-scrollbar{
    display: none;
}
